<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/users/foo</string>
		<key>PATH</key>
		<string>/opt/local/bin/:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.dvehrs.podget</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/bash</string>
		<string>-c</string>
		<string>exec /usr/local/bin/podget</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/podgetLaunchd_err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/podgetLaunchd.log</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
